[*.cs]

dotnet_diagnostic.IDE0075.severity = none
dotnet_diagnostic.IDE0059.severity = none
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0031.severity = none
dotnet_diagnostic.IDE1006.severity = none
dotnet_diagnostic.CA1416.severity = none
# CS8602: Desreferencia de una referencia posiblemente NULL.
dotnet_diagnostic.CS8602.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CS8601.severity = none
dotnet_diagnostic.CS8603.severity = none
dotnet_diagnostic.CS8604.severity = none
# Errores de CLS
dotnet_diagnostic.CS3001.severity = none
dotnet_diagnostic.CS3002.severity = none
dotnet_diagnostic.CS3003.severity = none